# Dependencies
node_modules/

# Android
/android/app/build/
/android/.gradle/
/android/local.properties
/android/*.keystore
/android/app/*.keystore
/android/app/keystore.properties

# iOS
/ios/build/
/ios/Pods/
/ios/*.xcworkspace/xcuserdata/
/ios/DatalakeFaceLiveness.xcodeproj/xcuserdata/

# Env files
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Build outputs
*.apk
*.aab
*.ipa

# Runtime
.expo/
dist/
